# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
env/
.venv/

# Django
# db.sqlite3 (Enabled for Vercel deployment stability)
# db.sqlite3
static_root/
media/
local_settings.py

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
